
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="{{ "/images/pixelbits-32.png" | prepend: site.baseurl }}">
      </a>
	  <a class="navbar-brand navbar-title" href="/">Pixelbits</a>
    </div>
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Advanced <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/advanced/converters">Converters</a></li>
            <li><a href="/advanced/selectors">Selectors</a></li>
            <li><a href="/advanced/rule-priority">Rule priority</a></li>
          </ul>
        </li>
        <li><a href="https://github.com/depl0y/pixelbits/tree/master">Github</a></li>
      </ul>
    </div>
  </div>
</nav>

