---
layout: page
---

<div class="container">

	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
			<br/>
			<div class="list-group">
				<a href="{{ "/advanced/converters.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/converters.html" %}active{% endif %}">
						Converters
				</a>
				<a href="{{ "/advanced/dictionary-key.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/dictionary-key.html" %}active{% endif %}">
						Dictionary Key
				</a>
				<a href="{{ "/advanced/UIColor.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/UIColor.html" %}active{% endif %}">
						UIColor
				</a>
				<a href="{{ "/advanced/UIControlState.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/UIControlState.html" %}active{% endif %}">
						UIControlState
				</a>
				<a href="{{ "/advanced/UIFont.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/UIFont.html" %}active{% endif %}">
						UIFont
				</a>
				<a href="{{ "/advanced/UIImage.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/UIImage.html" %}active{% endif %}">
						UIImage
				</a>
				<a href="{{ "/advanced/NSTextAlignment.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/NSTextAlignment.html" %}active{% endif %}">
						NSTextAlignment
				</a>
				<a href="{{ "/advanced/UIControlContentHorizontalAlignment.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/UIControlContentHorizontalAlignment.html" %}active{% endif %}">
						UIControlContentHorizontalAlignment
				</a>
				<a href="{{ "/advanced/UIControlContentVerticalAlignment.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/UIControlContentVerticalAlignment.html" %}active{% endif %}">
						UIControlContentVerticalAlignment
				</a>
				<a href="{{ "/advanced/UIViewContentMode.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/UIViewContentMode.html" %}active{% endif %}">
						UIViewContentMode
				</a>
				<a href="{{ "/advanced/UIEdgeInsets.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/UIEdgeInsets.html" %}active{% endif %}">
						UIEdgeInsets
				</a>
				<a href="{{ "/advanced/CGRect.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/CGRect.html" %}active{% endif %}">
						CGRect
				</a>

				<a href="{{ "/advanced/UIViewTintAdjustmentMode.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/UIViewTintAdjustmentMode.html" %}active{% endif %}">
						UIViewTintAdjustmentMode
				</a>

				<a href="{{ "/advanced/Bool.html" | prepend: site.baseurl }}" 
					class="list-group-item {% if page.url == "/advanced/Bool.html" %}active{% endif %}">
						Bool
				</a>

			</div>
		</div>
		<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
			{{ content }}
		</div>
	</div>
</div>
